<h1 class="text-3xl mb-10">Shopping cart</h1>

@if (emptyCart$()) {
    <div>Your cart is empty.</div>
} @else {
    <div
        class="w-full text-sm text-left rounded-lg border border-2 border-gray-400 overflow-hidden"
    >
        <div
            class="flex text-xs pl-3 sm:pl-5 sm:pr-1 text-gray-700 uppercase bg-white border-b border-gray-300 text-right"
        >
            <div class="py-3 flex-1 text-left">Product name</div>
            <div class="py-3 w-22 text-center">Quantity</div>
            <div class="py-3 w-22">Prize</div>
            <div class="py-3 w-22 hidden sm:block">Total</div>
            <div class="py-3 w-10"></div>
        </div>

        @for (item of items$(); track item.id) {
            <app-cart-item
                [item]="item"
                (remove)="removeItem(item.id)"
                (adjustQuantity)="adjustProductQuantity(item.product.id, $event)"
                [componentClasses]="$odd ? 'bg-white' : 'bg-gray-100'"
            />
        }

        <div
            class="flex border-t border-gray-300 pl-3 sm:pl-5 sm:pr-1 text-gray-700 uppercase bg-white border-b border-gray-300 text-right"
        >
            <div class="py-2 flex-1 text-left"></div>
            <div class="py-2 w-22 text-center">{{ numberOfItemsInCart$() }}</div>
            <div class="py-2 w-22"></div>
            <div class="py-2 w-22 hidden sm:block">{{ cartTotal$() | currency }}</div>
            <div class="py-2 w-10"></div>
        </div>
    </div>
}

@if (!emptyCart$()) {
    <div class="mt-4 flex justify-between items-center">
        <p class="text-xl font-semibold">Total: {{ cartTotal$() | currency }}</p>
        <button appCommonButton [variant]="'DESTRUCTIVE'" (click)="clear()">Clear Cart</button>
    </div>
}
