<h1 class="text-3xl mb-10">Shopping cart</h1>

@if (emptyCart$()) {
    <p>Your cart is empty.</p>
} @else {
    <div
        class="w-full text-sm text-left rounded-lg border border-2 border-gray-400 overflow-hidden"
    >
        <div
            class="flex text-xs pl-3 sm:pl-5 sm:pr-1 text-gray-700 uppercase bg-white border-b border-gray-300 text-right"
        >
            <p class="py-3 flex-1 text-left">Product name</p>
            <p class="py-3 w-22 text-center">Quantity</p>
            <p class="py-3 w-22">Prize</p>
            <p class="py-3 w-22 hidden sm:block">Total</p>
            <p class="py-3 w-10"></p>
        </div>

        @for (item of items$(); track item.id) {
            <app-cart-item
                [item]="item"
                (remove)="removeItem(item.id)"
                (adjustQuantity)="adjustProductQuantity(item.product.id, $event)"
                [componentClasses]="$odd ? 'bg-white' : 'bg-gray-100'"
            />
        }

        <div
            class="flex border-t border-gray-300 pl-3 sm:pl-5 sm:pr-1 text-gray-700 uppercase bg-white border-b border-gray-300 text-right"
        >
            <p class="py-2 flex-1 text-left"></p>
            <p class="py-2 w-22 text-center">{{ numberOfItemsInCart$() }}</p>
            <p class="py-2 w-22"></p>
            <p class="py-2 w-22 hidden sm:block">{{ cartTotal$() | currency }}</p>
            <p class="py-2 w-10"></p>
        </div>
    </div>
}

@if (!emptyCart$()) {
    <div class="mt-4 flex gap-3 items-center">
        <p class="text-xl flex-1 font-semibold">Total: {{ cartTotal$() | currency }}</p>
        <button appCommonButton (click)="placeOrder()">Place Order</button>
        <button appCommonButton [variant]="'DESTRUCTIVE'" (click)="clear()">Clear Cart</button>
    </div>
}
