<div
    class="w-full h-full p-5 flex flex-col bg-white border border-2 border-gray-200 rounded-lg hover:border-gray-300"
>
    <h5 class="text-xl font-semibold tracking-tight pb-2">
        {{ product().name }}
    </h5>

    <p class="text-gray-500">{{ product().description }}</p>

    <div class="flex items-center mt-auto gap-2 justify-center pt-2">
        <div class="flex flex-col flex-grow">
            <p class="text-2xl font-bold">{{ product().price | currency }}</p>
            @if (!outOfStock$()) {
                <p class="text-gray-500 text-sm">In stock: {{ product().stock }}</p>
            }
        </div>

        @if (outOfStock$()) {
            <button
                disabled="true"
                class="text-gray-400 cursor-not-allowed text-sm bg-gray-200 outline-none font-medium rounded-lg px-5 py-2.5"
            >
                Out of stock
            </button>
        } @else {
            <button
                (click)="addToCart.emit(product())"
                class="text-white cursor-pointer text-md bg-blue-700 hover:bg-blue-800 outline-none font-medium rounded-lg px-5 py-2.5"
            >
                Add to cart
            </button>
        }
    </div>
</div>
